@media (max-width: 1500px) {
    .can__text {
        width: 200px;
    }
}

@media (max-width: 1200px) {
    h1 {
        width: 600px;
    }
}

@media (max-width: 1024px) {
    .animation {
        height: 500px;
        margin: 15% auto 0;
    }
    h1 {
        width: 450px;
    }
}

@media (max-width: 992px) {
    .principies__text {
        font-size: 12px;
    }
    .about p {        
        margin-top: 65px;
    }

    .can__list {
        grid-template-columns: 1fr 1fr;
        display: grid;
    }

    .can__item:nth-child(2) {
        margin-right: 0;
        width: 352px;
    }

    .can__item:last-child {
        width: 352px;
    }
}

@media (max-width: 768px) {
    .principies-wrapper {
        flex-direction: column;
    }

    h1 {
        font-size: 48px;
        width: 400px;
    }

    .can__item:nth-child(2) {
        margin: 0 auto 10px auto;
    }

    .can__item:last-child {
        margin: 0 auto;
    }

    .mobile-menu {
        display: block;
    }

    header {
        padding: 30px 20px;
    }

    .sec {
        padding: 20px;
    }

    .header .logo {
        margin: 0 auto;
    }

    .first-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .about p {
        text-align: center;
    }

    .author {
        margin: 20px 0;
    }
    
    .principies-container {
        text-align: center;
        margin: 0 auto;
    }

    .list-item a {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .principies__item div {
        text-align: center;
        width: 100%;
    }

    .footer__list {
        flex-direction: column;
        margin: 30px auto;
    }

    #text {
        font-size: 1.1em;
        right: -532px;
    }

    .sec {
        padding: 20px;
    }

    .can__item::before {
        margin: 0 auto;
    }
    
    .sec h2 {
        font-size: 2em;
        text-align: center;
    }

    .can__item {
        margin-right: 0;
    }

    .img-about {
        display: block;
        margin: 0 auto;
    }

    .can__list {
        display: block;
        padding-top: 30px;
        margin: 0 auto;
        text-align: center;
    }

    .can__text {
        font-size: 20px;
        text-align: left;
        left: 30%;
    }
}

@media (max-width: 576px) {
    .can__list {
        display: block;
        padding-top: 30px;
    }

    .principies__item {
        text-align: center;
    }

    .can__item:nth-child(2) {
        width: 100%;
    }

    .can__item:last-child {
        width: 100%;
    }

    .slider__item {
        width: 100%;
    }

    .slider {
        padding: 0px;
    }
    
    .can__text {
        font-size: 18px;
        left: 25%;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 42px;
    }

    .can__text {
        font-size: 18px;
        left: 23%;
    }

    .header-container {
        display: block;
        margin: 0 auto; 
    }

    .logo {
        display: block;
        margin-left: 15%;
    }

    .offer {
        padding-top: 340px;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 30px;
        width: 180px;
    }

    .can__text {
        font-size: 18px;
        left: 10%;
    }
}