.slider-container {
    overflow-x: hidden;
    padding: 100px 0;
    width: 100%;
    margin-top: 50px;
}

.featured-videos {
    padding-top: 150px;
    padding-bottom: 50px;
}

.swiper-slide-active .slider-title {
    transition: transform 0.3s;
    transform: translateY(0px);
}
.featured-videos__descr {
    margin: 0 auto;
    text-align: center;
    max-width: 650px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 26px;
    color: #788692;
    font-family: 'SFCompact', sans-serif;
}


.slider-container .swiper-slide {
    position: relative;
    border-radius: 8px;
    min-height: 440px;
    width: 890px;
    transition: transform 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}
.slider-container .swiper-slide::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
    width: 100%;
    height: 60%;
    opacity: 0;
    transition: opacity 0.3s;
}

.slider-container .swiper-slide-active {
    transform: scaleX(1.16) scaleY(1.2);
    transition: transform 0.3s;
}
.slider-container .swiper-slide-active::after {
    opacity: 1;
    transition: opacity 0.3s;
}

.slider-title {
    font-size: 28px;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
    z-index: 5;
    padding-left: 35px;
    padding-bottom: 30px;
    transition: transform 0.3s;
    transform: translateY(200px);
}

.slide-1 {
    background-image: url(/img/slides/video-slides-1.jpg);
}
.slide-2 {
    background-image: url(/img/slides/video-slides-2.jpg);
}
.slide-3 {
    background-image: url(/img/slides/video-slides-3.jpg);
}
.slide-4 {
    background-image: url(/img/slides/video-slides-2.jpg);
}

.slide-play {
    position: absolute;
    left: 48px;
    top: 40px;
    width: 110px;
    height: 120px;
    background-image: url(/img/svg/video.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}