.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    width: 80%;
}

.close-btn {
    display: none;
} 

.mobile-menu {
    display: none;
    z-index: 99999;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-item a {
    display: block;
    color: var(--white-color);
    text-align: center;
    padding: 10px;
    font-size: 17px;
    border-radius: 20px;
    margin-right: 10px;
    border: none;
}

.list-item a:hover,
.list-item a.active {
    border: none;
    background-color: #fff;
    color: #2b1055;
    transition: ease-in-out all 0.3s;
}

.list-item a:last-child {
    margin-right: 0;
}

.close-btn svg {
    position: absolute;
    right: 12px;
    width: 23px;
    top: 18px;
}

.open-btn svg{
    width: 32px;
}

@media(max-width: 768px) {
    .list {
        display: none;
        width: 100%;
        position: absolute;
        background-color: #2b1055;
        left: 0;
        top: 0;
        padding: 20px;
        height: 300px;
    }

    .list-item {
        width: 81%;
        margin-left: 20px;
    }
}

.active {
    display: block;
}

.hidden {
	display: none;
}