.principies {
    background: rgb(38,12,92);
    background: linear-gradient(0deg, rgba(38,12,92,1) 0%, rgba(18,5,45,1) 100%);
    color: var(--white-color);
}

.principies-wrapper {
    text-align: center;
}

.principies-container h3 {
    font-size: 20px;
}

.principies-list {
    text-align: center;
    margin: 40px 0 0 0;
    align-items: flex-start;
}

.principies-list__item {
   padding: 20px 0;
}

.principies-list__item:hover { 
    border-bottom: 2px solid var(--accent-color);
    transition: ease-in-out all 0.3s;
}

.block {
    margin: 5% 20%;
}

.principies__item {
    text-align: left;

    margin: 0px 0px 20px 0px;
}

.principies__item div  {
    width: 600px;
}

.principies__title {
    color: var(--accent-color);
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.principies__text {
    font-size: 14px;
    font-weight: normal;
    padding-top: 1%;
    color: var(--white-color);
    display: none;
}

.about div{
    margin: 60px 0;
}

.about p {
    width: 661px;
}